services:
  - type: web
    name: avaliacao-jpv-2026
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
    repo: https://github.com/jeanpaulvieira-beep/avaliacao-server
    branch: master
